<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.commandline" />
  <package id="7zip.install" />
  <package id="7zip.portable" />
  <package id="adb" />
  <package id="alacritty" />
  <package id="alacritty.install" />
  <package id="androidstudio" />
  <package id="aria2" />
  <package id="audacity" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="bleachbit" />
  <package id="bleachbit.install" />
  <package id="blender" />
  <package id="brave" />
  <package id="bsnes" />
  <package id="calibre" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="Cmder" />
  <package id="comic-dl" />
  <package id="composer" />
  <package id="correttojdk" />
  <package id="cursoride" />
  <package id="cynthia" />
  <package id="dejavufonts" />
  <package id="directx" />
  <package id="docker" />
  <package id="docker-cli" />
  <package id="docker-compose" />
  <package id="dotnet-10.0-desktopruntime" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6.1" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-9.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dotnetfx" />
  <package id="es" />
  <package id="Everything" />
  <package id="everythingtoolbar" />
  <package id="fd" />
  <package id="ffmpeg" />
  <package id="FiraCode" />
  <package id="Firefox" />
  <package id="fzf" />
  <package id="Ghostscript" />
  <package id="Ghostscript.app" />
  <package id="gifsicle" />
  <package id="git" />
  <package id="git.install" />
  <package id="gnuwin32-coreutils.install" />
  <package id="golang" />
  <package id="GoogleChrome" />
  <package id="gradle" />
  <package id="graphviz" />
  <package id="gzip" />
  <package id="imagemagick" />
  <package id="imagemagick.app" />
  <package id="InkScape" />
  <package id="irfanview" />
  <package id="irfanviewplugins" />
  <package id="jdk8" />
  <package id="jre8" />
  <package id="julia" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="kdenlive" />
  <package id="kindle" />
  <package id="kitty" />
  <package id="krita" />
  <package id="ldc" />
  <package id="libresprite" />
  <package id="librewolf" />
  <package id="lua-language-server" />
  <package id="make" />
  <package id="MarkdownMonster" />
  <package id="marktext" />
  <package id="marktext.install" />
  <package id="mgba" />
  <package id="microsoft-openjdk17" />
  <package id="miktex" />
  <package id="miktex.install" />
  <package id="minecraft-education" />
  <package id="minecraft-launcher" />
  <package id="msys2" />
  <package id="musescore" />
  <package id="mysql" />
  <package id="mysql.workbench" />
  <package id="neovim" />
  <package id="ninja" />
  <package id="nmap" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="nssm" />
  <package id="nvim-ui" />
  <package id="nvm" />
  <package id="nvm.install" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="openshot" />
  <package id="paint.net" />
  <package id="pandoc" />
  <package id="pgadmin4" />
  <package id="php" />
  <package id="pixelorama" />
  <package id="poppler" />
  <package id="postgresql17" />
  <package id="protondrive" />
  <package id="protonmail" />
  <package id="python3" version="3.13.12" pin="true" />
  <package id="Revo.Uninstaller" />
  <package id="revo-uninstaller" />
  <package id="ripgrep" />
  <package id="ruby" />
  <package id="ruby.install" />
  <package id="rust" />
  <package id="rustup.install" />
  <package id="shexview" />
  <package id="slack" />
  <package id="snes9x" />
  <package id="sqlnotebook" />
  <package id="steam" />
  <package id="strawberryperl" />
  <package id="Sudo" />
  <package id="sumatrapdf" />
  <package id="sumatrapdf.install" />
  <package id="tixati" />
  <package id="ungoogled-chromium" />
  <package id="unity" pin="true" />
  <package id="unity-hub" />
  <package id="universal-ctags" />
  <package id="unzip" />
  <package id="vb-cable" />
  <package id="vcredist140" />
  <package id="vcredist2005" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="veracrypt" />
  <package id="VisualBoyAdvance" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vortex" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wezterm" />
  <package id="wezterm.install" />
  <package id="Wget" />
  <package id="yazi" />
  <package id="youtube-dl" />
  <package id="youtube-dl-gui" />
  <package id="youtube-dl-gui.install" />
  <package id="yt-dlp" />
  <package id="zotero" />
</packages>