<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="blender" />
  <package id="brave" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="Cmder" />
  <package id="DotNet4.6.1" />
  <package id="dotnetfx" />
  <package id="Everything" />
  <package id="FiraCode" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="imagemagick" />
  <package id="imagemagick.app" />
  <package id="InkScape" />
  <package id="irfanview" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="kdenlive" />
  <package id="krita" />
  <package id="MarkdownMonster" />
  <package id="marktext" />
  <package id="marktext.install" />
  <package id="minecraft-launcher" />
  <package id="musescore" />
  <package id="neovim" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="paint.net" />
  <package id="python" />
  <package id="python3" />
  <package id="python312" />
  <package id="Revo.Uninstaller" />
  <package id="revo-uninstaller" />
  <package id="slack" />
  <package id="steam" />
  <package id="Sudo" />
  <package id="unity" />
  <package id="unity-hub" />
  <package id="vcredist140" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
</packages>